{% extends "base.html" %}
{% block content %}
<br>
<div class="home-image">
    <img class="materialboxed responsive-img" src="{{ url_for('static', filename='images/home-hero.jpg') }}" alt="food table">
</div>

<div class="center flow-text">
    <br>
    <h3>Welcome back!<a href="{{ url_for('login') }}"> Log In <i class="fa-solid fa-arrow-right-to-bracket"></i></a></h3>
    <br>
    <h3>New Here?<a href="{{ url_for('register') }}"> Register <i class="fa-solid fa-file-circle-plus"></i></a></h3>
    <br>
    <h3>Just Browsing?<a href="{{ url_for('recipe') }}"> View our Recipes <i class="fa-solid fa-bowl-food"></i></a></h3>
    <br>
</div>

{% endblock %}