<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/5951528ae0.js" crossorigin="anonymous"></script>
    <title>Family Recipes</title>
</head>
<body>
    <header>
        <!--Navbar-->
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo center">Family Recipes</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
                    <li><a href="{{ url_for('diet') }}">Manage Diets</a></li>
                </ul>
            </div>
        </nav>
        <!--Mobile Sidenav-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
            <li><a href="{{ url_for('diet') }}">Manage Diets</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <!--Tap Target Element, from Materialize CSS-->
    <div class="fixed-action-btn tapmenu" >
        <a id="menu" class="tapmenu btn-floating btn-large cyan waves-effect waves-light">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <!--tap target structure, from Materialize CSS-->
    <div class="tap-target cyan" data-activates="menu">
        <div class="tap-target-content white-text">
            <h5>We care about your feedback</h5>
            <p>That's why we're constantly updating the features of this site, and we want to hear from you!</p>
        </div>
    </div>
    <!--Footer-->
    <footer class="page-footer sticky">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">My Family Recipes</h5>
                    <p class="grey-text text-lighten-4">Taking care of your family's kitchen.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Follow our journey</h5>
                    <ul class="list-inline">
                        <li><a class="white-text text-lighten-3" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a class="white-text text-lighten-3" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a class="white-text text-lighten-3" href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</body>
</html>