{% extends "index.html" %}
{% block content %}
<!--Hero image-->
<div class="hero-image">
    <img class="materialboxed responsive-img" src="{{ url_for('static', filename='images/recipe-hero.jpg') }}" alt="Open notebook">
</div>
<main class="container">
    <h3 class="center">Recipes</h3>
    <!--Button to add recipes-->
    <div class="center">
        <a href="{{ url_for('add_recipe') }}" class="btn-large waves-effect waves-light">
            Add Recipe  <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <br>
    <!--Card to display recipe information, written with inspiration from Code Institute's tutorial videos-->
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
            <div class="card teal lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                    <br>
                    <span><strong>Made by:</strong> {{ recipe.family_member }}</span>
                    <br>
                    <span><strong>Time to make (in minutes):</strong> {{ recipe.time_to_make }}</span>
                    <br>
                    <span><strong>Serving size:</strong> {{ recipe.serving_size }}</span>
                    <br>
                    <span><strong>Ingredients:</strong> {{ recipe.ingredients }}</span>
                    <br>
                    <span><strong>Method:</strong> {{ recipe.method }}</span>
                    <br>
                    <span><strong>Diet type:</strong> {{ recipe.diet_id }}</span>
                </div>
                <div class="card-action center">
                    <!--Edit and Delete buttons-->
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn waves-effect waves-light teal darken-3">Edit <i class="fa-solid fa-pen"></i></a>
                    <a href="#modal-{{ recipe.id }}" class="btn waves-effect waves-light modal-trigger red lighten-2">Delete <i class="fa-solid fa-xmark"></i></a>
                    <!--Modal content-->
                    <div id="modal-{{ recipe.id }}" class="modal center">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete this recipe?</h5>
                            <h7>(This action is irreversible)</h7>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}